/* Defaults and body. */

html {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

*, *:before, *:after { box-sizing: inherit; }

a, a:visited { color: #831; }
a:active, a:focus, a:hover { color: #C42; }

html, body {
    margin: 0;
    padding: 0;
    padding-top: 1em;
    height: 100%;

    font-family: sans-serif;
    font-size: 120%;

    background: #696;
    color: #411;
}

address.email:before { content: attr(local-part); }
address.email:after { content: attr(domain-part); }

h1 { font-size: 2.5em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.1em; }

h1, h2 { margin: 0; }
h1 { padding: 0.5em 0; }
h2 { padding-bottom: 1em; }

/* Content. */

main {
    background: #CDB;
    min-height: 100%;
    max-width: 800px;
    max-width: 75ch;
    margin: 0 auto;
    padding: 1em;
}

/* Navigation. */
nav {
    background: #831;
    margin: 0 -2em;
    padding: 1em 3em;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    padding-right: 1em;
}
nav li:last-child { padding-right: 0; }

nav {
    color: #FFF;
}

nav a, nav a:visited {
    color: #FFF;
    text-decoration: none;
    font-weight: 900;
}

nav a:focus, nav a:hover {
    border-bottom: dotted;
}

nav a:active,
.home nav a.home,
.resume nav a.resume,
.games nav a.games {
    border-bottom: solid;
}

nav .featured {
    float: right;
}

nav a.maui {
    color: #DAF;
}

nav a.greenlight {
    color: #AF9;
}
