/* Defaults and body. */

@import url(https://fonts.googleapis.com/css?family=Raleway:400,600|Josefin+Slab:400,600,700|Fugaz+One);

html {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

*, *:before, *:after { box-sizing: inherit; }

a { text-decoration: none; font-weight: 600; }
a:focus, a:hover { border-bottom: 3px dotted; margin-bottom: -3px; }
a:active { border-bottom: 3px solid; margin-bottom: -3px; }
a, a:visited { color: #831; }
a:active, a:focus, a:hover { color: #C42; }

body {
    margin: 0;
    padding: 0;
    height: 100%;

    font-family: 'Raleway', sans-serif;
    font-size: 110%;
    font-weight: 400;

    background: #696;
    color: #411;
}

main, header, footer {
    background: #CDB;
    max-width: 800px;
    margin: 0 auto;
}

main {
    padding: 1em 2em;
}

footer {
    padding: 1em 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Slab', serif;
    margin: 0.5em 0;
}

h1, h2 {
    margin-top: 1em;
}

.name {
    font-family: 'Fugaz One', cursive;
    text-align: center;
    text-transform: lowercase;
    padding: 0.5em 0 0;
}

.name:after {
    content: '!';
}

h1 { font-weight: 700; }
h2, h3, h4, h5, h6 { font-weight: 600; }

footer { text-align: center; }
address.email:before { content: attr(local-part); }
address.email:after { content: attr(domain-part); }
address.phone { display: none; }

h1 { font-size: 2.5em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.1em; }



/* Navigation. */

nav {
    background: #831;
    margin: 0 -2em;
    padding: 1em 3em;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    padding-right: 1em;
}
nav li:last-child { padding-right: 0; }

nav {
    color: #FFF;
}

nav a, nav a:visited {
    color: #FFF;
    text-decoration: none;
    border: none;
    font-weight: 800;
    font-family: 'Josefin Slab', serif;
}

nav a:focus, nav a:hover {
    border-bottom: 3px dotted; margin-bottom: -3px;
}

nav a:active,
.home nav a.home,
.cv nav a.cv,
.apps nav a.apps,
.games nav a.games {
    border-bottom: solid;
}

nav .featured {
    float: right;
}

nav a.maui {
    color: #DAF;
    font-family: 'Fugaz One', cursive;
}

nav a.steam {
    color: #AF9;
    font-family: 'Fugaz One', cursive;
}


/* Content. */

.cv main h2 {
    display: flex;
    align-items: baseline;
    border-bottom: 3px #831 dotted;
}

.cv main h2 a {
    flex: 2;
    text-align: right;
    border-bottom: none;
}

.cv main h2 em {
    font-style: inherit;
    font-size: 0.71em;
    font-weight: 700;
}

.cv main h3 + ul {
    margin-top: 0;
    font-style: italic;
}

ul.portfolio {
    list-style-type: none;
    margin: 0 0 1em;
    padding: 0;
    overflow: auto;
}

ul.portfolio h2 a {
    font-family: 'Fugaz One', cursive;
}

ul.portfolio li h2 img {
    width: 60%;
}

ul.portfolio li:nth-of-type(odd) {
    text-align: right;
}

ul.portfolio li:nth-of-type(odd) h2 img {
    float: right;
    margin-left: 1em;
    clear: left;
}

ul.portfolio li:nth-of-type(odd) h2 {
    clear: left;
}

ul.portfolio li:nth-of-type(even) h2 img {
    float: left;
    margin-right: 1em;
    clear: right;
}

ul.portfolio li:nth-of-type(even) h2 {
    clear: right;
}


/* Print. */

@media print {
    body {
        display: table;
        background-color: rgba(255, 255, 255, 0);
        color: black;
    }
    main { display: table-footer-group; }
    footer { padding: 0 0 1em; }

    abbr { text-decoration-line: none; }

    .name {
        text-transform: none;
        padding: 0;
        margin-top: 0;
    }
    .name:before {
        font-size: 80%;
        content: attr(legal-forename) ' "';
    }
    .name:after {
        font-size: 80%;
        content: '" ' attr(legal-surname);
    }

    nav {
        display: none;
    }

    address.phone { display: block; }
    address.phone:after {
        content: attr(country-code) ' (' attr(area-code) ') ' attr(central-office-code) '-' attr(line-number);
    }
}
