/* Defaults and body. */

html {
    box-sizing: border-box;
    text-rendering: optimizeLegibility
}

*, *:before, *:after { box-sizing: inherit; }

a, a:visited { color: #883112; }
a:active, a:focus, a:hover { color: #C4471A; }

html, body {
    margin: 0;
    padding: 0;
    padding-top: 1em;
    height: 100%;

    font-family: sans-serif;
    font-size: 120%;

    background: #609157;
    color: #370F0D;
}

h1 { font-size: 2.5em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.1em; }

h1, h2 { margin: 0; }
h1 { padding: 0.5em 0; }
h2 { padding-bottom: 1em; }

/* Content. */

main {
    background: #C0D6BB;
    min-height: 100%;
    max-width: 800px;
    max-width: 75ch;
    margin: 0 auto;
    padding: 1em;
}

/* Navigation. */
nav {
    background: #883112;
    margin: 0 -2em;
    padding: 1em 3em;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    padding-right: 1em;
}
nav li:last-child { padding-right: 0; }

nav {
    color: #fff;
}

nav a, nav a:visited {
    text-decoration: none;
    font-weight: 900;
}

nav a:focus, nav a:hover, nav a:active,
.home nav a.home,
.resume nav a.resume
{
    text-decoration: underline;
}

nav a:active {
    color: #ccc;
}

nav .featured {
    float: right;
}

nav a.maui {
    color: #daf;
}

nav a.greenlight {
    color: #cfa;
}
