<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>

<title>{{ page.title }}</title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="css/application.css">

</head>
<body class="{{ page.class }}">

<main>
  <header>
    <h1>bug!</h1>
    <h2>{{ page.sound }} {{ page.sound }}</h2>

    <nav>
      <ul>
        <li><a class="home" href="/">Home</a></li>
        <li><a class="resume" href="http://bug.dlestra.ws/resume.html">Resume</a></li>
        <li><a class="games" href="games.html">Games</a></li>
        <li class="featured"><a class="maui" href="http://www.kokuagames.com">Maui</a>
            is on <a class="steam" href="http://store.steampowered.com/app/464700">Steam!</a></li>
      </ul>
    </nav>
  </header>

  {{ content }}

  <footer>
    <address class="email" local-part="bug" domain-part="dlestra.ws">@</address>
  </footer>
</main>

</body>
</html>
